<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-light-subtle border border-primary-subtle rounded-3">
    <h5 class="my-0 mr-md-auto font-weight-normal">MyStore</h5>
    <nav class="ms-5">
        <a class="p-2 btn btn-outline-primary" href="{% url 'product_list' %}">Каталог</a>
        <a class="p-2 btn btn-outline-primary" href="{% url 'contacts' %}">Контакты</a>
        <a class="p-2 btn btn-outline-primary" href="{% url 'place_a_product' %}">Разместить продукт</a>
        <a class="p-2 btn btn-outline-primary" href="{% url 'blog_list' %}">Блог</a>
        <a class="p-2 btn btn-outline-primary" href="{% url 'create_blog' %}">Разместить статью</a>
    </nav>
</div>