{% extends 'catalog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <form class="row" method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-6 ">
            <div class="card">
                <div class="card-header">
                    <h3 class="card_title">
                        Войти
                    </h3>
                    <a href="{% url 'users:reset_password' %}" type="submit" class="btn btn-warning">
                        Восстановить пароль
                    </a>
                </div>
                <div class="card-body">
                    {{ form|crispy }}

                    <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Войти</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}