{% extends 'catalog/base.html' %}

{% block content %}
<div class="col-12">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    Восстановление пароля
                </h3>
            </div>
            <div class="card-body mb-5">
                {% if success_message %}
                <p>{{ success_message }}</p>
                <a href="{% url 'users:login' %}" class="btn btn-outline-primary">Войти в личный кабинет</a>
                {% else %}
                <form class="row" method="post">
                    {% csrf_token %}
                    {% for f in form %}
                    <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
                    <div class="form-error">{{ f.errors }}</div>
                    {% endfor %}
                    <input type="email" name="email">
                    <button type="submit" class="btn btn-success">
                        Восстановить пароль
                    </button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}