{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}

<div class="pricing-header px-3 py-3 pt-md-4 pb-md-4 col-12 text-center bg-light-subtle border border-primary-subtle rounded-3">
    <h1 class="display-4">MyStore</h1>
    <div>
        <h3 class="lead">MyStore - это отличный вариант для тех, кто хотел бы купить или продать уже прочитанные
            книги</h3>
    </div>
</div>
<div class="container">
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{product.product_name}}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">Цена: {{product.price}}</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>Жанр: {{product.category}}</li>
                        <li>О книге: {{product.description}}</li>
                        <li> <img src="{{ product.image | media_filter }}" width="200" height="300"></li>
                        <li>Дата размещения объявления: {{ product.created_at }}</li>

                    </ul>

                    <a class="btn btn-primary" href="{% url 'product_list' %}" role="button">Назад</a>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}
