
{% extends 'catalog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <form class="row" method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-6 ">
            <div class="card">
                <div class="card-header">

                    {% if object %}
                    <h4 class="my-0 font-weight-normal">Редактирование данных о книге</h4>
                    {% else %}
                    <h4 class="my-0 font-weight-normal">Разместите данные о книге</h4>
                    {% endif %}
                </div>
                <div class="card-body">
                    {{ form|crispy }}

                    <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Сохранить</button>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    {% if object %}
                    <h4 class="my-0 font-weight-normal">Редактирование данных об издании</h4>
                    {% else %}
                    <h4 class="my-0 font-weight-normal">Разместите данные об издании</h4>
                    {% endif %}
                </div>
                <div class="card-body">
                    {{ formset.management_form}}
                    {% for form in formset.forms %}
                    {{ form|crispy }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}